<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Budgeting Application">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Joey Greco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Add icon library -->
    <!-- jQuery-->
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- custom alert script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
  </head>

  <!-- this is the loading icon that shows when a page is loading -->
  <div class="loader-wrapper" id="loader-wrapper">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>

  <body>

    <header>
      {% block header %}{% endblock %}
    </header>

    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="#" onclick="reloadPage()">
        <span>BudgetMachine</span>
      </a>
      <a class="nav-item nav-link" href="#" onclick=""><i class="fas fa-home"></i> <span class="navBarText">Home</span></a>
      <a class="nav-item nav-link" href="#" onclick="onTransactionClick()"><i class="fas fa-dollar-sign"></i> <span class="navBarText">Transaction</span></a>
    </nav>

    <div class="topSection">
        <div class="pageTitle">{% block pageTitle %}{% endblock %}</div>
        <div class="pageSubtitle">{% block pageSubtitle %}{% endblock %}</div>
        <div class="errorSection">
            <!-- errorMessageFill is for directly setting the error without reloading the page -->
            <span class="errorMessage" id="errorMessageFill"></span>
        </div>
    </div>

    <div class="bottomSection">
      {% block content %}
        <div class="transaction-form" id="popup-form">
        <a href="#" id="close-button" onclick="onTransactionCloseClick()"><i class="fas fa-times-circle"></i></a>
        <form>
          Amount:<br>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
          <span class="input-group-text">.00</span>
          </div>
          </div>
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          Income?<br>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          </div>
          <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Note</span>
  </div>
  <textarea class="form-control" id="note" aria-label="With textarea"></textarea>
</div>
          <br>
          Date:<br>
          <br><br>
          <button class="btn btn-secondary" type="button" onclick="onTransactionSubmitClick()">Submit</button>
        </form>
        </div>
      {% endblock %}
    </div>

  </body>

</html>