{% extends "base.html" %}

{% block head %}
<title>BudgetMachine</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- imports for table pagination -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<!-- info on table used: https://datatables.net/examples/data_sources/dom -->
{% endblock %}

{% block content %}
    <div class="content">
        <div class="switch-container">
            <div class="form-check form-switch environment-switch">
              <input class="form-check-input" type="checkbox" id="environment-switch" onclick="onEnvironmentSwitchClick()" data-checked="{{productionData|safe}}">
            </div>
            <p>PRODUCTION DATA</p>
        </div>

        <div class="date-dropdowns">
            <div class="yearDropdown">
                <button class="btn btn-secondary dropdown-toggle" id="select_year_button" type="button" value="{{selected_year}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selected_year}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for year in years %}
                        {% if year.getYear() == selected_year|int %}
                            <a class="dropdown-item active" href="#" onclick="submitDate('{{year.getYear()}}', null)">{{year.getYear()}}</a>
                        {% else %}
                            <a class="dropdown-item" href="#" onclick="submitDate('{{year.getYear()}}', null)">{{year.getYear()}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="monthDropdown">
                <button class="btn btn-secondary dropdown-toggle" id="select_month_button" type="button" value="{{selected_month}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{all_months[selected_month-1]}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for monthNum in selected_year_obj.getMonths().keys() %}
                        {% set month = selected_year_obj.getMonths()[monthNum] %}
                        {% if monthNum == selected_month|int %}
                            <a class="dropdown-item active" href="#" onclick="submitDate(null, '{{month.getMonth()}}')">{{all_months[month.getMonth()|int-1]}}</a>
                        {% else %}
                            <a class="dropdown-item" href="#" onclick="submitDate(null, '{{month.getMonth()}}')">{{all_months[month.getMonth()|int-1]}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="category-full-section">
            <div class="category-bank-submit-section">
                <button class="btn btn-info btn-lg" id="submit-banks-button" type="button" onclick="onCategorySaveButtonClick('{{selected_year_obj.getYId()}}', '{{selected_month}}', {{bankCategories}})">Save Changes</button>
            </div>
            <div class="category-income-section">
                 <div class="category-income">
                    <div class="category-income-title">Income</div>
                    <input class="form-control category-income-input" id="income-input" value="{{selected_year_obj.getMonths()[selected_month|string].getIncome()}}" type="number" placeholder="Income ($)" step="1" autocomplete="off">
                    <div class="category-amount-budgeted" id="amount-budgeted" data-value=""></div>
                    <div class="category-income-amount" id="amount-spent" data-value=""></div>
                    <div class="category-income-difference" id="income-difference" data-value=""></div>
                </div>
            </div>
            <div class="category-banks-section">
                {% for bank in selected_year_obj.getMonths()[selected_month|string].getBanks() %}
                 <div class="category-bank">
                        <div class="category-bank-title bank-category">{{bank.getCategory()}}</div>
                        <input class="form-control category-bank-input" id="bank-budget-{{bank.getCategory()}}" value="{{bank.getBudget()}}" type="number" placeholder="Budget ($)" step="1" autocomplete="off">
                        <div class="category-bank-amount" id="bank-amount-spent-{{bank.getCategory()}}" data-value="{{bank.getAmount()}}">SPENT: ${{bank.getAmount()}}.00</div>
                        <div class="category-bank-difference" data-value="{{bank.getBudget() - bank.getAmount()}}">REMAINING: ${{bank.getBudget() - bank.getAmount()}}.00</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <table class="table table-fluid transactionsTable compact" id="transactionsTable">
            <thead>
                <tr>
                    <th class="id-header">ID</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Note</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in allTransactions %}
                    <tr class="transaction-row" onclick="onTransactionOpenClick('{{transaction.getTId()}}')">
                        <td class="id-content" id="transaction-id-{{transaction.getTId()}}">{{transaction.getTId()}}</td>
                        <td id="transaction-amount-{{transaction.getTId()}}" data-value="{{transaction.getAmount()}}">${{transaction.getAmount()}}.00</td>
                        <td id="transaction-category-{{transaction.getTId()}}">{{transaction.getCategory()}}</td>
                        <td id="transaction-note-{{transaction.getTId()}}">{{transaction.getNote()}}</td>
                        <td id="transaction-date-{{transaction.getTId()}}">{{transaction.getDate()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>init();</script>
{% endblock %}