html {
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

body {
  width: 100%;
  height: 100%;
}

.topSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2%;
}

.bottomSection {
  width: 100%;
  height: 100%;
}

.pageTitle {
  font-size: 400%;
  order: 1;
  text-align: center;
  color: black;
}

.pageSubtitle {
  font-size: 200%;
  order: 2;
  text-align: center;
  color: black;
}

.errorSection {
    width: 100%;
    order: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 4rem;
    padding-left: 1rem;
    justify-content: flex-start !important;
}

.nav-item {
    font-size: 1.2rem;
    color: black;
}

.nav-item:hover {
    color: grey;
}

button {
    cursor: pointer;
}

.loader-wrapper {
    opacity: 0.2;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

#transaction-form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #d9d9d9;
    margin: auto;
    width: 15%;
    height: 40%;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

#transaction-submit-form {
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#popup-top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#close-button {
    color: black;
}

#amount-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-section {
    display: flex;
    justify-content: center;
}

#income-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#income-switch {
    padding: 0;
}

#income-label {
    margin: 0;
}

#note-input {
    display: flex;
    flex-direction: row;
}

#note-label {
    height: 100%;
}

#note {
    resize: none;
    height: 100%;
}

#date-section {
    display: flex;
}
